@use "../abstracts/" as *;
@use "../base/" as *;

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.2);
  }
}

.questions {
  position: relative;
  overflow: hidden;
  height: 100vh;

  @include portraitBreakPoint {
    height: 50vh;
  }

  @include mobileMaxBreakPoint {
    height: 70vh;
  }

  &__swiper {
    position: relative;
    left: 9%;
    overflow: hidden;

    @include mobileMaxBreakPoint {
      left: 0;
      overflow: auto;
    }
  }

  &__hand-icon {
    position: absolute;
    z-index: $zindex-default;
    top: 65%;
    left: 37%;
    animation: #{pulse} $anim-hand-icon;
    min-width: 40px;
    width: 2.5rem;
    max-width: 60px;

    @include mobileMaxBreakPoint {
      display: none;
    }
  }
}

#swiper-slide--questions {
  position: relative;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  height: 50%;
  max-height: 405px;
  padding: 0;
  background-color: transparent;

  @include mobileMaxBreakPoint {
    height: 70%;
  }
}

.questions-slide {
  width: 100%;
  height: 100%;
  perspective: 1000px;

  &__inner {
    position: relative;
    transform-style: preserve-3d;
    transition: $anim-long-ease;
    width: 100%;
    height: 100%;

    &--front,
    &--back {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      width: 100%;
      min-height: 100%;
      height: fit-content;
      padding: 1.5rem;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
    }

    &--front {
      align-items: center;
      background-color: $color-gray;
    }

    &--back {
      position: absolute;
      top: 0;
      transform: rotateY(180deg);
      background-color: $color-white;
    }
  }
}

.text-question {
  width: 80%;
  font-size: $f-size-medium;
  font-family: $f-family-inter;

  @include mobileMaxBreakPoint {
    font-size: $f-size-huge;
    text-align: center;
  }
}

.text-answer {
  font-size: $f-size-medium;
  font-family: $f-family-raleway;
  font-weight: $f-weight-regular;
  color: $color-black;

  @include mobileMaxBreakPoint {
    font-size: $f-size-big;
    text-align: center;
  }

  &--bold {
    font-weight: $f-weight-bold;
  }
}