@use "../abstracts/" as *;
@use "../base/" as *;

.aside-section {
  position: absolute;
  z-index: $zindex-default;
  bottom: -1rem;
  left: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  transform: rotate(-90deg);
  transform-origin: left center;
  transition: $anim-normal-ease;
  cursor: default;

  &:hover {
    gap: 2em;

    .aside-section__line {
      background-color: $color-yellow;
    }

    .aside-section__info {
      color: $color-yellow;
    }
  }

  @include mobileMaxBreakPoint {
    display: none;
  }

  &__line {
    transition: $anim-normal-ease;
    width: 4rem;
    height: 2px;
    background-color: $color-white;
  }

  &__info {
    transition: $anim-normal-ease;
    font-size: $f-size-subtitle;
    font-family: $f-family-oswald;
    font-weight: $f-weight-semibold;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: $color-white;

    &:hover {
      letter-spacing: 0.3em;
    }
  }
}
