@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);

//font-size
$f-size-tiny: 0.75rem;
$f-size-small: 0.85rem;
$f-size-medium: 1rem;
$f-size-subtitle: 1.25rem;
$f-size-big: 1.4rem;
$f-size-huge: 2rem;
$f-size-title: 3.3rem;

//font-family
$f-family-raleway: "Raleway", sans-serif;
$f-family-oswald: "Oswald", sans-serif;
$f-family-inter: "Inter", sans-serif;

//font-weight
$f-weight-regular: 400;
$f-weight-medium: 500;
$f-weight-semibold: 600;
$f-weight-bold: 700;
$f-weight-extrabold: 800;

//letter-spacing
$f-letter-spacing-small: 0.03em;

//colors
$color-black-opacity: rgba(0, 0, 0, 0.7);
$color-yellow-opacity: rgba(248, 223, 41, 0.7);
$color-white: #fff;
$color-black: #000;
$color-yellow: #f8df29;
$color-white-not-active: rgba(255, 255, 255, 0.7);
$color-gray: #474747;

//animations
$anim-fast-ease: all 0.2s ease;
$anim-normal-ease: all 0.3s ease;
$anim-long-ease: all 0.6s ease;
$anim-police-tape: 25s linear infinite;
$anim-hand-icon: .7s ease infinite alternate;

//breakpoints
$breakpoint-mobile: 678px;
$breakpoint-tablet: 1024px;
$breakpoint-pc: 1441px;

//z-indexes
$zindex-modal: 999;
$zindex-navbar: 990;
$zindex-mobile-menu: 900;
$zindex-background: -1;
$zindex-slide-first: 2;
$zindex-slide-second: 1;
$zindex-default: 1;

//custom values
$nav-height: 69px;
$aside-info-span: 4rem;